<settings>
    <servers>
      <server>
        <id>gitlab-com-maven</id>
        <configuration>
          <httpHeaders>
            <property>
               <!-- Private Access Token rtu0fti: maven -->
              <name>Private-Token</name>
              <value>${env.GITLAB_COM_MAVEN_TOKEN}</value>
            </property>
          </httpHeaders>
        </configuration>
      </server>
      <server>
        <id>gitlab-fti-maven</id>
        <configuration>
          <httpHeaders>
            <property>
               <!-- Private Access Token rtu: maven -->
              <name>Private-Token</name>
              <value>${env.GITLAB_FTI_MAVEN_TOKEN}</value>
            </property>
          </httpHeaders>
        </configuration>
      </server>
    </servers>
  </settings>